@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
  --primary-color: #00ff99;
  --secondary-color: #ffffff;
  --light-bg: #000000;
  --text-color: #000000;
  --font-main: 'Poppins', sans-serif;
  --border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}
body {
  background-color: var(--secondary-color);
  color: rgb(0, 0, 0);
  padding: 2rem;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image1 {
  width: 10rem;
}

h6{
  text-align: center;
  margin-top: 57vh;
  opacity: 70%;
  color: #4a4a4a;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.secondary-header{
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 16px;
}

.table-wrapper {
  background-color: #ffffff;
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

th, td {
  padding: 1rem;
  border: 1px solid #d0d0d0;
  text-align: left;
  color: rgb(0, 0, 0);
}

th {
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  background-color: #d7d7d7;
}

button {
  padding: 1rem 1.5rem;
  background-color: var(--primary-color);
  color: #000000;
  border: none;
  border-radius: var(--border-radius);
  font-weight: 610;
  cursor: pointer;
  transition: all 0.3s ease;
}
